/* Font import */
@font-face {
  font-family: Antarctica;
  src:  url('/fonts/Antarctica-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Antarctica;
  src:  url('/fonts/Antarctica-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Antarctica;
  src:  url('/fonts/Antarctica-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Antarctica;
  src:  url('/fonts/Antarctica-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Antarctica;
  src:  url('/fonts/Antarctica-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Antarctica;
  src:  url('/fonts/Antarctica-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

/* Reset & setup */
:root {
	--black: #000000;
  --blue: #0000FF;
  --lightBlue: #ECECFF;
  --bg: #FFFFFF;
  --gutter: 10px;
  --margin: 20px;
  --transition: cubic-bezier(.77,0,.175,1) .5s;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  font-family: Antarctica, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  color: var(--color1);
  background-color: var(--bg);
  font-size: clamp(14px, 1.0582vw, 17px);
  line-height: 1.2;
  letter-spacing: .01em;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  white-space: pre-line;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
#root, #__next {
  isolation: isolate;
}
a:-webkit-any-link,
button {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:-moz-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

/* Common classes */
.text-xl {
  font-size: 3rem;
  line-height: 1.2;
}
.text-l {
  font-size: 1.75rem;
  line-height: 1.2;
}
.text-m {
  font-size: 1.5rem;
  line-height: 1.2;
}
.text-xs {
  font-size: 0.8125rem;
}
.uppercase {
  text-transform: uppercase;
}
.btn {
  background-color: var(--bg);
  border: solid 1px var(--black);
	padding: .6em .75em;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
}
.btn.secondary {
  font-size: 0.8125rem;
  padding: .7em .9em .5em;
}
.headings>.tags>.tag:hover, .btn:hover, .btn.active {
	color: var(--bg);
  background-color: var(--blue);
  border-color: var(--blue);
}

.underline,
.underline.menu-item,
.item>h3,
.publication:hover>p,
.publication>h3 {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.item:hover>h3,
.publication:hover>h3 {
  color: var(--blue);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
.underline:hover,
.underline.menu-item:hover *,
.publication:hover>p {
  color: var(--blue);
}
.underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--blue);
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  margin-bottom: .05em;
}

.underline.active:not(.menu-item):after {
  background-color: var(--black);
}

.underline:hover::after,
.underline.active::after,
.menu-item.active.underline::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
.underline:not(:hover):not(.active)::after,
.underline.inverted:hover::after {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr var(--gutter) 1fr var(--gutter) 1fr var(--gutter) 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: var(--gutter);
     -moz-column-gap: var(--gutter);
          column-gap: var(--gutter);
  row-gap: calc(var(--gutter)*4);
}
.thumbnail {
  aspect-ratio: 4/5;
  background-color: var(--lightBlue);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}
.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--gutter);
  position: absolute;
  top: var(--gutter);
  left: var(--gutter);
  font-size: 0.8125rem;
}
.tag {
  padding: .4em .5em .4em;
  text-transform: uppercase;
  background-color: var(--bg);
  border: none;
}
.pointer-events-none {
  pointer-events: none;
}
.item, .publication {
  display: block;
  position: relative;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.item:hover .tag, .publication:hover .tag  {
  color: var(--bg);
  background-color: var(--blue);
}
.item-title {
  margin-top: var(--margin);
}
.publication-title {
  margin-top: var(--margin);
  margin-bottom: var(--gutter);
}
.person-title {
  margin-top: calc(var(--gutter)*1.4);
}
.person-role {
  margin-top: var(--gutter);
}
.person>.thumbnail {
  width: 100%;
  aspect-ratio: 1;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.no-uppercase {
  text-transform: none;
}
@media screen and (min-width: 1900px) {
  .grid {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }
  .grid>a:nth-child(n+7) {
    display: inherit;
  }
}
@media screen and (max-width: 1899px) {
  .grid {
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
  }
  .grid>a:nth-child(n+6) {
    display: none;
  }
}
@media screen and (max-width: 1600px) {
  .grid {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
  .grid>a:nth-child(n+5) {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .grid {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
  .grid>a:nth-child(n+4) {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  :root {
    --gutter: 5px;
    --margin: 10px;
  }
  .grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    row-gap: calc(var(--gutter)* 6);
  }
  .grid>a:nth-child(n+3) {
    display: none;
  }
  .text-xl {
    font-size: 2.1428rem;
  }
  .text-l {
    font-size: 1.1428rem;
  }
  .text-m {
    font-size: 1.1428rem;
  }
  .text-xs {
    font-size: 0.8571rem;
  }
  .tags {
    font-size: 0.7142rem;
    top: var(--margin);
    left: var(--margin);
  }
  .person-title {
    margin-top: calc(var(--gutter)*2);
  }
}
@media screen and (max-width: 600px) {
  .grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .grid>.publication:nth-child(n+2) {
    display: none;
  }
  .headings>.tags>.tag:hover,
  .tag:hover {
    border-color: inherit;
    background-color: inherit;
    color: inherit;
  }
  .item:hover .tag,
  .publication:hover .tag {
    background-color: var(--bg);
    color: inherit;
  }
  .underline:hover,
  .underline.menu-item:hover *,
  .item:hover .tag,
  .publication:hover .tag,
  .item:hover>h3,
  .publication:hover>h3,
  .publication:hover>p {
    color: inherit;
    text-decoration: unset;
  }
  .underline:hover::after,
  .item:hover>h3::after,
  .publication:hover>h3::after {
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
  }
}

/* Single pages */
section.list {
  margin-top: calc(var(--margin)*3);
  margin-right: var(--margin);
  margin-left: var(--margin);
}
section.list .grid>a:nth-child(n) {
  display: inherit;
}
section.single {
  margin-top: calc(var(--margin)*2);
  margin-right: var(--margin);
  margin-left: var(--margin);
}
.navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: calc(var(--margin)*2);
}
.not-active {
  opacity: .3;
}
.next {
  margin-left: auto;
}
.headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.headings>.tags {
  position: relative;
  left: unset;
}
.headings>.tags>.tag {
  border: solid 1px var(--black);
} 
.titles {
  width: calc((100% - var(--gutter))/2);
}
.titles>h2 {
  margin-top: calc(var(--gutter)*1.5);
}
section.list>.grid {
  padding-top: calc(var(--margin)*2);
}
.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--gutter);
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}
.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr var(--gutter) 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gutter);
  margin-top: calc(var(--margin)*3);
  line-height: 1.3;
}
.body {
  font-weight: 400;
}
.credits, .info {
  margin-top: calc(var(--margin)*3);
}
.credit {
  margin-top: 1em;
  text-transform: uppercase;
}
.text {
  width: 80%;
}
.img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.square {
  aspect-ratio: 1;
}
.vertical {
  aspect-ratio: 4/5;
}
.horizontal {
  aspect-ratio: 5/4;
}
@media screen and (max-width: 1200px) {
  .text {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  section.list {
    margin-top: calc(var(--margin)*4);
  }
  .filters {
    margin-top: calc(var(--margin)*3);
  }
  section.list>.grid {
    padding-top: calc(var(--margin)*4);
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  section.single {
    margin-top: calc(var(--margin)*4);
  }
  .navigator {
    margin-bottom: calc(var(--margin)*4);
  }
  .headings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .titles {
    width: 100%;
  }
  .titles>h2 {
    margin-top: var(--margin);
    margin-bottom: var(--margin);
  }
  .headings>.tags {
    margin-top: var(--margin);
  }
  .content {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    margin-top: calc(var(--margin)*4);
    row-gap: calc(var(--margin)*3);
    line-height: 1.4;
  }
  .content .img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1
  }
  .content .text {
    width: 100%;
  }
  .credits {
    line-height: 1.4;
  }
}

/* Visibility */
.hidden, .mobile-only {
  display: none;
}
.invisible {
  opacity: 0;
}
.display {
  display: block;
}
.block {
  display: block !important;
}
@media screen and (max-width: 900px) {
  .mobile-only {
    display: inherit;
  }
  .desktop-only {
    display: none;
  }
}